
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex align-items-center justify-content-center text-start">
                    <div class="mx-sm-5 px-5" style="max-width: 900px;">
                        <h1 class="display-2 text-white text-uppercase mb-4 animated slideInDown">We Will Keep You Looking Awesome</h1>
                        <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-map-marker-alt text-primary me-3"></i>5725 Heber Springs Rd W, Quitman, AR 72131</h4>
                        <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-phone-alt text-primary me-3"></i>501-306-2954</h4>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex align-items-center justify-content-center text-start">
                    <div class="mx-sm-5 px-5" style="max-width: 900px;">
                        <h1 class="display-2 text-white text-uppercase mb-4 animated slideInDown">Luxury Hair Cuts & Strait Razer Shaves at Affordable Pricing</h1>
                        <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-map-marker-alt text-primary me-3"></i>5725 Heber Springs Rd W, Quitman, AR 72131</h4>
                        <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-phone-alt text-primary me-3"></i>501-306-2954</h4>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid w-75 align-self-end" src="assets/img/TOM.JPG" alt="">
                    <div class="w-50 bg-secondary p-5" style="margin-top: -25%;">
                        <h1 class="text-uppercase text-primary mb-3">2 Years</h1>
                        <h2 class="text-uppercase mb-0">Experience</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">About Us</p>
                <h1 class="text-uppercase mb-4">More Than Just A Haircut. Learn More About Us!</h1>
                <p>After 28 years living in Southeast Alaska my wife and I moved to Quitman to be close to my father-in-law. He lives in Heber Springs and he always said we'd eventually move here.

                    I worked for a hospital in Ketchikan as the Food & Environmental Services manager. It was a good job and I worked with some wonderful people.
                    
                    Becoming a barber was a dream of mine. So, when we decided to move I looked for Barber Colleges and found that there were several not too far from Quitman.
                    
                    I enrolled October of 2021 and began learning the craft. When I wasn't in class I was practicing at home on mannequin heads and watched videos. I drilled with shears, straight razor and clippers until they felt natural.
                    
                    September of 2022 my youngest son came down from Alaska to be my model for the state barber board test. I passed the test and became a licensed barber.</p>
                <div class="row g-4">
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">Since 2021</h3>
                        <p class="mb-0">I have been putting a smile on clients face one haircut and beard trim at a time for the past 2 years. And will be for the expected future.</p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">100+ clients</h3>
                        <p class="mb-0">It has been a crazy journey and I have loved every second of it, and I wouldn't be where I am today without all my amazing clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Services</p>
            <h1 class="text-uppercase">What We Provide</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/haircut.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Basic Haircut</h3>
                        <p>This is the basic old school cut. The basic cut comes with hot lather straight razor neck shave.</p>
                        <span class="text-uppercase text-primary">From $20</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/beard-trim.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Fade</h3>
                        <p>This popular hairstyle is cut so the sides and back are as close as possible and "fades," or tapers, up into almost any length on top. Take your cut to the next level with a blurry fade. It comes with a hot lather straight razor neck shave.</p>
                        <span class="text-uppercase text-primary">From $20</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/mustache.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Beard Trim</h3>
                        <p>After a brief consultation your beard is carefully groomed and trimmed to your specifications.</p>
                        <span class="text-uppercase text-primary">From $15</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/mans-shave.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Signature Straight Razor Shave</h3>
                        <p>Facial for a man with a razor! We use a series of hot towels, steam, hot lather, cold towels, and soothing tonic.</p>
                        <span class="text-uppercase text-primary">From $30</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/mustache.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Haircut and Signature Shave</h3>
                        <p>A mix between our Basic cut and Signature Straight Razor Shave.</p>
                        <span class="text-uppercase text-primary">From $50</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="assets/img/stacking.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Mustache Trim</h3>
                        <p>Cleaning up your mustache to your wants and needs.</p>
                        <span class="text-uppercase text-primary">From $15</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Price Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-secondary h-100 d-flex flex-column justify-content-center p-5">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Price & Plan</p>
                    <h1 class="text-uppercase mb-4">Check Out Our Barber Services And Prices</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Basic Haircut</h6>
                            <span class="text-uppercase text-primary">$20.00</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Fade</h6>
                            <span class="text-uppercase text-primary">$20.00</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Beard Trim</h6>
                            <span class="text-uppercase text-primary">$15.00</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Signature Straight Razor Shave</h6>
                            <span class="text-uppercase text-primary">$30.00</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Haircut and Signature Shave</h6>
                            <span class="text-uppercase text-primary">$50.00</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">Mustache Trim</h6>
                            <span class="text-uppercase text-primary">$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100">
                    <img class="img-fluid h-100" src="assets/img/price.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Price End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Our Barber</p>
            <h1 class="text-uppercase">Meet Our Barber</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <!-- <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets/img/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                     <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Tom The Classic Barber</h5>
                        <span class="text-primary">Designation</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets/img/TOM.JPG" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Tom The Classic Barber</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <!-- <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets/img/team-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Barber Name</h5>
                        <span class="text-primary">Designation</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <!-- <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets/img/team-4.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Barber Name</h5>
                        <span class="text-primary">Designation</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Working Hours Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="h-100">
                    <img class="img-fluid h-100" src="assets/img/open.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-secondary h-100 d-flex flex-column justify-content-center p-5">
                    <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Working Hours</p>
                    <h1 class="text-uppercase mb-4">Professional Barbers Are Waiting For You</h1>
                    <div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Monday</h6>
                            <span class="text-uppercase">Closed</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Tuesday</h6>
                            <span class="text-uppercase">09 AM - 06 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Wednesday</h6>
                            <span class="text-uppercase">09 AM - 06 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Thursday</h6>
                            <span class="text-uppercase">09 AM - 06 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Friday</h6>
                            <span class="text-uppercase">09 AM - 06 PM</span>
                        </div>
                        <div class="d-flex justify-content-between border-bottom py-2">
                            <h6 class="text-uppercase mb-0">Saturday</h6>
                            <span class="text-uppercase text-primary">09 AM - 06 PM</span>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <h6 class="text-uppercase mb-0">Sunday</h6>
                            <span class="text-uppercase text-primary">Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Working Hours End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Testimonial</p>
            <h1 class="text-uppercase">What Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center" data-dot= img class='img-fluid' src='assets/img/testimonial1.webp' alt=''>
                <h4 class="text-uppercase">Client Name</h4>
                <br>
                <br>
                <!-- <p class="text-primary">Profession</p> -->
                <span class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</span>
            </div>
            <div class="testimonial-item text-center" data-dot= img class='img-fluid' src='assets/img/testimonial2.webp' alt=''>
                <h4 class="text-uppercase">Client Name</h4>
                <br>
                <br>
                <!-- <p class="text-primary">Profession</p> -->
                <span class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</span>
            </div>
            <div class="testimonial-item text-center" data-dot= img class='img-fluid' src='assets/img/testimonial3.webp' alt=''>
                <h4 class="text-uppercase">Client Name</h4>
                <br>
                <br>
                <!-- <p class="text-primary">Profession</p> -->
                <span class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</span>
            </div>
        </div>      
    </div>
</div>
<!-- Testimonial End -->


